.App {
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.App-header {
  /* background-color: #fff; */
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  font-size: calc(10px + 4vmin);
  line-height: 1em;
  font-family: "Pt-Serif";
  color: rgba(0, 0, 0, 0.8);
}

.caption {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 0.6em;
  line-height: 1.2em;
  /* margin-top: 1em; */
  color: rgba(0, 0, 0, 0.6);
}

p {
  margin: 0;
}

svg {
  font-family: "PT-Sans";
  font-size: 0.5em;
  overflow: visible;
}

svg text {
  user-select: none;
}

svg g:hover {
  cursor: pointer;
}

circle {
  transition: fill 300ms;
}

#tooltip {
  position: absolute;
  background-color: transparent;
  /* border: solid 1px black; */
  /* padding: inherit; */
  /* left: 105%; */
  /* direction: rtl; */
  font-size: 18px;
  line-height: 1.4em;
  pointer-events: none;
  transition: all 300ms;
  z-index: 100;
}

#tooltip span {
  background-color: white;
  padding: 6px 8px 6px 8px;
  color: rgba(0, 0, 0, 0.8);
}

#tooltip .positive span {
  background-color: black;
  color: white;
}

#tooltip .negative span {
  background-color: #ee4444;
  color: white;
}

.paragraph {
  display: flex;
  text-align: left;
  max-width: 800px;
}

.loading {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 0.6em;
  color: rgba(0, 0, 0, 0.8);
}

.chartContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

button {
  font-size: 0.4em;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 8px 4px 8px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.8);
  border-radius: 4px;
  transition: all 300ms;
  background-color: rgba(255, 255, 255, 1);
}

button:hover {
  cursor: pointer;
  background-color: rgba(230, 230, 230, 1);
}

button:focus {
  outline: none;
}

button.left {
  border-radius: 4px 0px 0px 4px;
}
button.middle {
  border-radius: 0px;
  border-left: none;
}
button.right {
  border-radius: 0px 4px 4px 0px;
  border-left: none;
}

button.active {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

li {
  margin-top: 0.5em;
}

textarea:focus,
input:focus {
  outline: none;
}

#popup {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#popup svg {
  transition: all 300ms;
}

#popup svg:hover {
  fill: rgba(0, 0, 0, 1);
  transform: scale(1.2);
  cursor: pointer;
}

.paragraph {
  display: flex;
  text-align: left;
  max-width: 800px;
}
