@font-face {
  font-family: "Pt-Serif";
  src: local("Pt-Serif"), url(./fonts/PTSerif-Regular.ttf) format("woff2");
}

@font-face {
  font-family: "Pt-Sans";
  src: local("Pt-Sans"), url(./fonts/PTSans-Regular.ttf) format("woff2");
}

body {
  font-family: "Pt-Sans";
  margin: 0;
  /* padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 100px; */
  /* font-size: 1.8em; */
  font-size: calc(10px + 2vmin);
  line-height: 1.4em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
